@section Styles {
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/OrderPageStyles")
}

@section Scripts {
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")
}

<base href="/">
<div ng-app="shipBobProjectApp">
    <div data-ui-view></div>
</div>


